@font-face {
  font-family: "Kenyan Coffee Rg";
  src: url("fonts/kenyan_coffee_bd_it.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

.font-kenyan-coffee {
  font-family: "Kenyan Coffee Rg";
  font-weight: bold; 
}
