// header {
//   position: sticky;
//   top: 0;
//   z-index: 99;

//   background-color: white;
//   box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

//   // suninistros
//   .current-menu-item {
//     a {
//       color: #ff8851 !important;
//     }
//   }
//   #Header-jcc {
//     @media (min-width: 768px) and (max-width: 991px) {
//       padding-inline: 0;
//     }
//   }
//   #menu-main-menu {
//     .menu-item {
//       a {
//         @media (min-width: 768px) and (max-width: 991px) {
//           padding-inline: 7px;
//           font-size: 15px;
//         }
//       }
//       @media (min-width: 768px) and (max-width: 1199px) {
//         margin-inline: 0;
//       }
//     }
//   }
//   .elementor-hidden-mobile:has(
//       .elementor-widget-artech-text-editor .phone-header
//     ) {
//     @media (min-width: 768px) and (max-width: 1199px) {
//       display: flex !important;
//     }
//   }
// }

header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgba($azul-sorsa, 0.95);

  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  // suninistros
  .current-menu-item {
    a {
      color: #ff8851 !important;
    }
  }

  .top-logo {
    .logo1 {
      @media (min-width: 992px) and (max-width: 1199px) {
        // width: 175px;
        width: 144px !important;
      }
    }
  }

  #Header-jcc {
    @media (min-width: 768px) and (max-width: 991px) {
      padding-inline: 0;
    }
  }

  // en tableta ocultar
  .main-menu {
    @media (min-width: 768px) and (max-width: 991px) {
      display: none !important;
    }
  }

  .btn-cta {
    img {
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 30px;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 12px;
    }
  }

  #menu-main-menu {
    .menu-item {
      a {
        color: white;
        @media (min-width: 768px) and (max-width: 991px) {
          padding-inline: 7px;
          font-size: 15px;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          // padding-inline: 12px;
          padding-inline: 6px;
        }
        @media (min-width: 1200px) {
          padding-inline: 15px;
        }
      }
      @media (min-width: 768px) {
        margin-inline: 0;
      }
      @media (min-width: 1400px) {
        margin-inline: 15px;
      }
    }
  }
  .elementor-hidden-mobile:has(
      .elementor-widget-artech-text-editor .phone-header
    ) {
    @media (min-width: 768px) and (max-width: 1199px) {
      display: flex !important;
    }
  }

  .elementor-widget-tcg-offcanvas {
    @media (min-width: 768px) and (max-width: 991px) {
      display: block !important;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    // padding-block: 20px;
    padding-block: 16px;
  }

  .mobile-wrapper {
    &.tablet {
      .hamburger {
        @media (min-width: 768px) and (max-width: 991px) {
          display: block !important;
        }
      }

      .fat-nav {
        @media (min-width: 768px) and (max-width: 991px) {
          display: block !important;
          transform: scale(1) !important;
        }
      }

      @media (min-width: 768px) and (max-width: 991px) {
        display: block !important;
      }
    }
  }

  .hamburger {
    .hamburger__icon {
      filter: invert(1) brightness(2);
    }
    &.active {
      .hamburger__icon {
        filter: invert(1) brightness(0) !important;
      }
    }
  }

  .offcanvas-toggle {
    filter: brightness(0) invert(1);
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .tablet-close {
      display: none;
    }
  }
  &.active-mobile {
    @media (min-width: 768px) and (max-width: 991px) {
      .mobile-wrapper {
        display: block !important;
      }

      .fat-nav__wrapper {
        position: relative;
      }

      .mobile-wrapper .fat-nav {
        display: block !important;
        transform: none !important;
      }

      .tablet-close {
        position: absolute;
        left: calc(100% - 60px);
        top: 50px;
        display: block;
        font-size: 30px;
        cursor: pointer;
      }

      // .mobile-wrapper .hamburger {
      //   z-index: 99999;
      //   position: fixed;
      //   background-color: #ccc;
      //   left: calc(100% + -30px);
      //   top: 30px;
      // }
    }
  }
}

// body.home {
//   header {
//     overflow-x: hidden;
//     background-color: transparent;
//     &.v-sticky {
//       .logo-pc {
//         .elementor-widget-container {
//           @media (min-width: 768px) {
//             display: flex;
//             align-items: center;
//           }
//         }
//         img {
//           @media (min-width: 768px) {
//             width: 186px;
//           }
//         }
//       }
//       @media (min-width: 768px) {
//         background-color: $azul-sorsa;
//       }
//     }

//     @media (max-width: 767px) {
//       background-color: $azul-sorsa;
//     }
//   }
// }
