#home-2 {
  .home-hero {
    .butn {
      display: none;
    }
    // .butn {
    //   border-radius: 50rem 50rem 50rem 50rem;
    //   padding: 10px 35px 10px 35px;
    //   background: #000000;
    // }
    .header-card {
      padding-bottom: 125px;
      @media (min-width: 1400px) {
        // padding-top: 125px;
        // padding-bottom: 175px;
        padding-top: 230px;
        padding-bottom: 230px;
      }
      img {
        @media (min-width: 768px) {
          object-position: bottom center;
        }
      }
      &::after {
        background-color: transparent;
        opacity: 1;
      }
    }
    .info {
      min-height: 266px;
    }
    .links {
      display: none !important;
    }
    .services-links {
      display: none !important;
    }
    .rotate-box {
      display: none !important;
    }

    img.shap {
      display: none !important;
    }
    // .butn {
    //   &:hover {
    //     background-color: $amarillo-sorsa !important;
    //     border-color: $amarillo-sorsa !important;
    //   }
    // }
  }

  .home-valores {
    img[src*="feat_shap.png"] {
      // @media (max-width: 767px) {
      @media (max-width: 1199px) {
        display: none !important;
      }
    }

    // .logo-valor {
    //   .elementor-widget-container {
    //     margin-bottom: 0;
    //   }
    // }
    .card-valores {
      &__content {
        border: 1px solid #00000029;
        border-radius: 12px;
        // @media (max-width: 767px) {
        @media (max-width: 991px) {
          // margin-bottom: 0;
          // padding-bottom: 0px;
        }
        @media (max-width: 1024px) {
          display: flex !important;
          position: relative !important;
        }
      }
      &:nth-last-of-type(1) {
        .card-valores__content {
          @media (min-width: 992px) {
            margin-left: 15px;
          }
        }
      }
    }
  }
  .home-valvoline {
    .logo-valvoline {
      .elementor-image {
        // height: 410px;
        height: 337px;
        text-align: center;
        img {
          width: auto;
        }

        @media (min-width: 768px) {
          height: 410px;
        }
      }
    }
  }
  .home-marcas {
    .e-eicon-chevron-left,
    .e-eicon-chevron-right {
      fill: #00509e !important;
    }
    .swiper-slide {
      height: 130px;
      // width: 223px !important;
    }
    .swiper-slide-inner {
      // height: 50px;
      // &:has(img[alt*="valvoline"]) {
      //   padding-block: 10px;
      // }
      // &:has(img[alt*="pasoil"]) {
      //   padding-block: 12px;
      // }
      // &:has(img[alt*="power-flow"]) {
      //   padding-block: 6px;
      // }
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      // height: 100%;
      // width: auto;
      // max-width: 100%;
      display: inline-block;
      object-fit: contain;
      max-height: 130px;
      height: auto;
      max-width: 223px;
      width: 100%;
      padding: 30px 20px;
    }

    .btn-sorsa {
      img[src*="arrow_wh"] {
        width: 30px;
        height: auto;
      }
    }
  }

  .home-portafolio {
    // .elementor-shortcode {
    //   overflow: hidden;
    // }
  }
}
